services:
  - type: web
    name: get-hired-easy-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    rootDir: server
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8200
      - key: MONGODB_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: CLIENT_URL
        value: https://your-frontend.vercel.app
      - key: CLOUD_NAME
        sync: false
      - key: API_KEY
        sync: false
      - key: API_SECRET
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: PASS_USER
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: SMTP_PASS
        sync: false
